.header {
  display: flex;
  flex-direction: row;
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  font-size: 55px;
  color: white;
}

.nav {
  margin-top: 2px;

  margin-left: 21%;
  /* padding: 55px; */

  /* justify-content: space-between 55px; */
}
